<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Sistema SPRING</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> <img alt="Algaworks"
					src="/images/logo-algaworks.png" />
				</a>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/titulos">Títulos</a></li>
					<li class="active"><a href="/produtos">Produtos</a></li>
					<li class="active"><a href="/pessoas">Pessoas</a></li>
				</ul>
			</div>
		</div>
	</nav>
<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>